*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  text-align: center;
  background-color: #011F3F;
  user-select: none;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  padding:  35% 5% 2.5%;
  color: #FEF2BF;
  line-height: 55px;
}

.container {
  display: block;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;

}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.active-btn-js {
  opacity: 0;
  animation-duration: 0.2s;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media screen and (min-width: 1000px) {
  #level-title {
    padding:  3% 5% 0.5%;
  }
}
